
body{
    background-color:beige;
}
h1{
    background-color:rgb(211, 223, 233);
}
menu{
    padding: 12px;
}

ol{
    background-color: #fff;
    padding: auto; 
}

h2{
    text-align: center;
    background-color:rgb(211, 223, 233);
}