@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    text-align: center;
    background-color:beige;
}
h1{
    background-color:rgb(211, 223, 233);
    color: #fff;
    padding: 5px;
    border-radius: 15px;
    
}
menu{
    padding: 12px;
}

label{
    background-color:rgb(211, 223, 233);
    color:black;
    padding:4px;
    border-radius: 15px;
}